DATABASE_URL="postgresql://usuario:password:@localhost:numeroDePuerto/db_name"
JWT_SECRET=""
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
PORT=
CLIENT_URL=el puertito en donde arrancamos la app del cliente o front
MAIL_HOST=smtp.gmail.com
MAIL_PORT=
MAIL_USER=
MAIL_PASS=


Para correr los tests: cd server && npm test o npm run test:coverage.